{% extends "shared/blank.html" %}
{% block title %}

{% endblock %}

{% block content %}
    <br><br>
    <div class="slide-text">
        <div class="slideshow"><p>توانایی و علاقه و محل زندگی : کار آینده</p></div>
        <div class="text-btn">
            <div class="text"><p>!یک بار برای همیشه</p></div>
            <div class="btn"><button class="error-btn" style="background-color: greenyellow"><a href="{% url "question" %}">شرکت در آزمون</a></button></div>
        </div>
    </div>
    <div class="text2"><p>فرقی نمیکند در چه سنی با... چرا اتفاقا این دفعه فرق میکند.شاید با ورود به این سایت اولین سوالی که ذهن شما را درگیر
    کرده است این است که مثلث کار چیست؟ خوب در اینجا وقتی برای پاسخ به این پرسش نداریم و پیشنهاد میکنیم به راهنمای آزمون مراجعه کنید.
        من می خواهم در این باب که چرا باید در این ازمون شرکت کنید با شما صحبت کنم. راستیش در دنیایی که روز به روز
        دچار تغیرات زیادی میشود انتخاب شغل آینده را دشوار میکند و خوب این آزمون به همین سبب تهیه شده است.
        این که توانایی های خود را با علاقه های خود بررسی کنید و ببنید در چه کاری پیشرفت خواهید کرد.
        هر چند این ازمون میتواند در جهات دیگری هم استفاده بشود به عنوان مثال شما میتوانید از این ازمون برای افزایش اطلاعات عمومی خود بهره بگیرید.
    </p></div>
    <footer class="footer">
        <p>© All rights reserved.</p>
    </footer>
{% endblock %}