<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>چهکاره</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2 id="question">{{ quiz.question }}</h2>
    <button class="answer"><a href="{% url "check-question" id=quiz.id option=1 %}">{{ quiz.option1 }}</a></button>
    <button class="answer"><a href="{% url "check-question" id=quiz.id option=2 %}">{{ quiz.option2 }}</a></button>
    <button class="answer"><a href="{% url "check-question" id=quiz.id option=3 %}">{{ quiz.option3 }}</a></button>
    <button class="answer"><a href="{% url "check-question" id=quiz.id option=4 %}">{{ quiz.option4 }}</a></button>
    <button id="skip"><a href="{% url "check-question" id=quiz.id option=5 %}">علاقه ای به {{ quiz.category.title }} ندارم</a></button>
    {% if show %}
            <button id="show-btn"><a href="{% url "show-result" %}">نمایش نتیجه</a></button>
    {% endif %}
</body>
</html>