<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>چهکاره</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2 id="question">{{ quiz.question }}</h2>
    <button class="answer"><a href="{% url "check-question" id=quiz.id %}">{{ quiz.option1 }}</a></button>
    <button class="answer"><a href="{% url "check-question" id=quiz.id %}">{{ quiz.option2 }}</a></button>
    <button class="answer"><a href="{% url "check-question" id=quiz.id %}">{{ quiz.option3 }}</a></button>
    <button class="answer"><a href="{% url "check-question" id=quiz.id %}">{{ quiz.option4 }}</a></button>
    <button id="skip"><a href="{% url "check-question" id=not_interested_id %}">علاقه ای به {{ quiz.category.title }} ندارم</a></button>
</body>
</html>