<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>چهکاره</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <h2 id="question">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus deserunt sit 
        eius tenetur, aliquam dolorem hic esse saepe sapiente incidunt.</h2>
    <button class="answer"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, inventore?</a></button>
    <button class="answer"><a href="#">1 Test</a></button>
    <button class="answer"><a href="#">1 Test</a></button>
    <button class="answer"><a href="#">1 Test</a></button>
    <button id="skip"><a href="#">علاقه ای به این موضوع ندارم</a></button>
</body>
</html>