{% extends "shared/blank.html" %}
{% block title %}

{% endblock %}

{% block content %}
    <div class="text2">
        <pre style="text-align: right;">
            این پروژه بر اساس دو اصل از سه اصل مثلث کار ساخته شده است
            مثلث کار چیست؟ یکی از مهم ترین انتخاب های هر انسانی انتخاب شغل اینده است!حال مثلث کار برای اینکه این انتخاب سرنوشت ساز برای ما راحت تر شود کار را به سه
            اصل تقسیم کرده است.این اصل ها ترتیب خاصی ندارند.اصل اول محیط زندگی است.ما باید این نکتع را درنظر بگیریم که شغلی که انتخاب میکنیم در منتطقه ی زندگی مان عملی
            هست یا نه.برای مثال کسی که در کویر زندگی میکند نمیتواند جنگل بان شود!هر چند پاسخ به این اصل به عهده ی خود شخص است و ما در دو اصل دیگر به کمک خواهیم کرد
            اصل دوم و سوم علاقه و توانایی هستند.شما با شرکت در آزمون ما راحت تر میتوانید این دو را کشف کنید اما نکته ی مهم این است که فکر کنید که نتیجه ی ازمون با شخص شما همخوانی
            ندارد که خوب اشتباه است.ممکن است جواب ازمون یکی از علاقه ها و توانایی ها شما باشد

            با شروع ازمون با پنج گزینه پیش رو دارید که چهارتای گزینه های سوال هستند و اخری یک دستور به سیستم هست تا سوال متنوع تری به شما نشان دهد
        </pre>
    </div>
    <footer class="footer">
        <p>© All rights reserved.</p>
    </footer>
{% endblock %}