/* errors */
li {
    color: red;
    list-style-type: none;
}

/* --------------------------------------- */
html {
    font-size: 100%;
    font-family: "Vazir";
}

.slide-text,
.footer {
    font-size: 1.2rem;
}

.slide-text {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    /* height: 20rem; */
}

.slideshow {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    margin-left: 1rem;
}

.slideshow p {
    padding: 0 .2rem;
}

.text-btn {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    background-color: #eee;
    /* height: calc(20rem - 50%); */
    width: 74%;
    margin-bottom: 1.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 74%;
    /* height: calc(20rem - 50%); */
    #background-color: #eee;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button {
    width: 60%;
    height: 3rem;
}

.text2 {
    width: calc(100% - 2rem);
    background-color: #eee;
    /* height: 20rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem 0;
}

.text2 p {
    padding: 0 .4rem;
    text-align: right;
}

.footer {
    width: 100%;
    height: 10rem;
    /*background-color: #eee;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
/* --------------------------------------- */
.topnav {
    overflow: hidden;
}
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    color: #ddd;
}
.topnav a.active {
    color: red;
}
.topnav a.split {
    float: left;
}
.topnav a.logout {
    color: black;
}
.topnav a.admin {
    color: blueviolet;
}
.topnav a.logout:hover {
    color: red;
}
.topnav a.admin:hover {
    color: mediumpurple;
}
/* --------------------------------------- */

* {font-family: Vazir;box-sizing: border-box;}

body {
    background: linear-gradient(135deg, #00a6fb 50%, #dddf00 50%) 100%/cover no-repeat fixed;
}

/* Question */
#question {
    text-align: center;
}

/* Answers */

.answer {
    width: 45%;
    margin-left: 2.5%;
    margin-bottom: 0.5%;
    text-align: center;
    background-color: white;
    border: 2px solid red;
    border-radius: 20px;
    font-size: x-large;
}

.answer:hover {
    background-color: red;
}
.answer a {
    text-decoration: none;
    color: #dddf00;
}

/* skip button */
#skip {
    display: block;
    width: 30%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: palevioletred;
    font-size: large;
    border: 0px solid white;
    border-radius: 20px;
}
#skip:hover {
    color: gainsboro;
    background-color: pink;
}
#skip a {
    text-decoration: none;
    color: white;
}

#show-btn {
    display: block;
    width: 12%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: limegreen;
    font-size: large;
    border: 0px solid white;
    border-radius: 20px;
}
#show-btn:hover {
    color: gainsboro;
    background-color: greenyellow;
}
#show-btn a {
    text-decoration: none;
    color: white;
}

#error-message {
    text-align: center;
    color: red;
}
.error-btn {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5%;
    height: 60px;
    width: 200px;
    border: 0px white solid;
    border-radius: 5%;
}
.error-btn a {
    color: white;
}
.error-btn a:hover {
    color: darkgray;
}
/* ----------------------------------------------------------------- */
#head-result {
    text-align: center;
}
.h2-result {
    text-align: center;
}
.h3-result {
    text-align: center;
}
#text-result {
    text-align: center;
    color: mediumvioletred;
}
.btn-result {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5%;
    height: 60px;
    width: 200px;
    border: 0px white solid;
    border-radius: 5%;
}
.btn-result a {
    color: white;
}
.btn-result a:hover {
    color: darkgray;
}
/* ----------------------------------------------------------------- */

:root {
    --color: #000000;
}

html {
    scroll-behavior: smooth;
}

#register {
    margin: 0;
    box-sizing: border-box;
    color: var(--color);
    letter-spacing: 1px;
    transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color);
}

h1 {
    font-size: 2.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    position: relative;
    width: 22.2rem;
}
.form-container {
    border: 1px solid hsla(40, 64%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    z-index: 99;
    padding: 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input {
    display: block;
    padding: 14.5px;
    width: 100%;
    margin: 2rem 0;
    color: var(--color);
    outline: none;
    background-color: #e8c14f1f;
    border: none;
    text-align: right;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login-container form input:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}

.login-container form button {
    color: var(--color);
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.login-container form button:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.circle {
    width: 8rem;
    height: 8rem;
    background: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
}

.illustration {
    position: absolute;
    top: -14%;
    right: -2px;
    width: 90%;
}

.circle-one {
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-45%, -45%);
    -webkit-transform: translate(-45%, -45%);
    -moz-transform: translate(-45%, -45%);
    -ms-transform: translate(-45%, -45%);
    -o-transform: translate(-45%, -45%);
}

.circle-two {
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(45%, 45%);
    -webkit-transform: translate(45%, 45%);
    -moz-transform: translate(45%, 45%);
    -ms-transform: translate(45%, 45%);
    -o-transform: translate(45%, 45%);
}

.register-forget {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.opacity {
    opacity: 0.6;
}

.theme-btn-container {
    position: absolute;
    left: 0;
    bottom: 2rem;
}

.theme-btn {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.theme-btn:hover {
    width: 40px !important;
}

@keyframes wobble {
    0% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }
    25% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    75% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

/* ----------------------------------------------------------------- */
.txt-userpannel {
    text-align: center;
}
.hr-userpannel {
    width: 25%;
}