* {font-family: Vazir;box-sizing: border-box;}

/* Question */
#question {
    text-align: center;
}

/* Answers */

.answer {
    width: 45%;
    margin-left: 2.5%;
    margin-bottom: 0.5%;
    text-align: center;
    background-color: white;
    border: 2px solid greenyellow;
    border-radius: 20px;
    font-size: x-large;
}

.answer:hover {
    background-color: greenyellow;
}
.answer a {
    text-decoration: none;
    color: green;
}

/* skip button */
#skip {
    display: block;
    width: 30%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: palevioletred;
    font-size: large;
    border: 2px solid white;
    border-radius: 20px;
}
#skip:hover {
    color: gainsboro;
    background-color: pink;
}
#skip a {
    text-decoration: none;
    color: white;
}



/* ----------------------------------------------------------------- */

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

.container-login h1,p{
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.signupbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.signupbtn:hover {
opacity:1;
}


.signupbtn {
    float: left;
    width: 100%;
}

.container-login{
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}