<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>تغییر نام</title>
</head>
<body id="register">
        <section class="container">
            <div class="login-container">
                <div class="circle circle-one"></div>
                    <div class="form-container">
                        <h1 class="opacity">تغییر نام</h1>
                        <form  method="post" action="{% url "edit-fullname" %}">
                            {% csrf_token %}
                            {{ edit_fullname_form.first_name }}
                            {{ edit_fullname_form.first_name.errors }}
                            {{ edit_fullname_form.last_name }}
                            {{ edit_fullname_form.last_name.errors }}
                            <button type="submit" class="opacity" style="background-color: deeppink">برو</button>
                        </form>
                        <div class="register-forget opacity">
                            <a href="">به مشکلی بر خورده اید؟</a>
                        </div>
                </div>
                <div class="circle circle-two"></div>
                </div>
                <div class="theme-btn-container"></div>
        </section>
</body>
</html>